{% extends 'layout.html' %}

{% block title %}Get Buyer Info{% endblock %}

{% block content %}
	<h2> Get Buyer Info </h2>
		<p style="color:#2f3947;">Acquire the Tweeter information of potential buyers!</p>
<h2>Get Buyer Info for Up to 5 Singers:</h2>
<div class = "content">
<form method="POST" action="/allSinger" style="color:#2f3947;">
    <p> Singer 1:</p>
     <input type = "text" name = "name1">
    <p> Singer 2:</p>
     <input type = "text" name = "name2">
    <p> Singer 3:</p>
     <input type = "text" name = "name3">
    <p> Singer 4:</p>
     <input type = "text" name = "name4">
    <p> Singer 5:</p>
     <input type = "text" name = "name5">
     <p></p>
     <input type = "submit" value = "Get">
</form>
</div>
<div class = "content">
    			<h2>User Info:</h2>
      				<table>
     					{% for table in tables %}
            					{{titles[loop.index]}}
            					{{ table|safe }}
					{% endfor %}
    				</table>
 		</div> 
{% endblock %}